body {
	background-color: #5b84b1ff;
}

a{
	color: #5632fb;
	text-decoration: none;
	font-weight: bold;
}

h1{
	color: white;
	text-align: center;
}

h2{
	color: black;
}

.meeting {
	color: #7a7a7a;
	background-color: #ffffff;
	
	padding-bottom: 15px;
	padding-left: 30px;
	
	margin-left: 30px;
	margin-bottom: 15px;
	
	border: 2px solid #404040;
	border-radius: 10px;
}

.topbar {
	position: fixed;
	top: 0px; left: 0px; right: 0px;
	height: 50px;
	width: 100%;
	background-color: black; 
	overflow: hide;
}

.logo {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	width: 20%;
	padding: 0px;
	color: white;
	font-family: 'Courier New', monospace;
	height: 50px;
}

.logo p{
	margin-top: 10px;
}

.baritem {
	float: center;
	width: 15%;
	color: black;
	background-color: white;
	font-size: 20px;
	left: 20%;
	text-align: center;
	border-right: 4px solid black;
	top: 5px;
	height: 40px;
}

.baritem p{
	margin-top: -11px;
}

#date{
	margin-left: 50px;
	width: 40%;
	text-align: left;
	margin-top: 70px;
}

.joinbutton{
	text-align: center;
	margin-right: 5%;
	margin-left: 70%;
	margin-top: -35px;
	padding: 3px;
	color: black;
	background-color: lightgreen;
	border-radius: 5px;
	border: 3px solid green;
}
