body {
	background-color: #efefef;
}
.meeting {
	color: #7a7a7a;
	background-color: #ffffff;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 15px;
	margin-left: 30px;
	border-radius: 10px;
	border: 2px solid darkgrey;
}

a{
	color: #5632fb;
	text-decoration: none;
	font-weight: bold;
}

h1{
	color: #3a4354;
	text-align: center;
}
.topbar {
	position: fixed;
	top: 0px; left: 0px; right: 0px;
	height: 50px;
	width: 100%;
	background-color: hotpink; /*test color for top bar*/
}
.logo {
	background-color: black;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	width: 20%;
	padding: 1px;
	color: white;
	font-family: 'Courier New', monospace;
}
.logo p{
	margin-top: 10px;
	margin-bottom: 10px;
}
#days{
	margin-left: 50px;
	width: 40%;
	text-align: left;
	margin-top: 70px;
}
