body {
	background-color: #efefef;
}
.meeting {
	color: #7a7a7a;
	background-color: #ffffff;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 15px;
	margin-left: 30px;
	border-radius: 10px;
}

a{
	color: #5632fb;
}

h1{
	color: #151515;
}

#days{
	margin-left: 30px;
	width: 50%;
}